<div>
    <h1>Registration</h1>
    <form id="registerForm">
        <div>
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" required/>
        </div>
        <div>
            <label for="lastName">Apellido</label>
            <input type="text" name="lastName" id="lastName" required/>
        </div>
        <div>
            <label for="mail">Email</label>
            <input type="email" name="mail" id="mail" required/>
        </div>
        <div>
            <label for="age">Edad</label>
            <input type="number" name="age" id="name" required/>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required/>
        </div>
        <input type="submit">
    </form>
    <p>¿Ya tienes una cuenta? <a href="/login">Ingresa aquí</a></p>
</div>
<script src="/js/register.js"></script>